
homework/data/application_test.csv
homework/data/application_train.csv
homework/data/bureau_balance.csv
homework/data/bureau.csv
homework/data/credit_card_balance.csv
homework/.ipynb_checkpoints/Day_001_example_of_metrics_Ans-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_002_first_EDA-checkpoint.ipynb
homework/data/example.jpg
homework/data/example.mat
homework/data/example.npy
homework/data/example.pkl
homework/data/example.txt
